# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
/dist
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln

# Testing
coverage/

# Optional: Server specific
server/uploads/
